tensorflow
scikit_learn
numpy
Cython
Jinja2
pystan
requests
plotly
flask_bootstrap
statsmodels
bokeh
pandas
matplotlib
itsdangerous==2.0.1
werkzeug==2.0.3
flask
yfinance
convertdate 
lunarcalendar
holidays
fbprophet